*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: url(IMAGENS/fs01n02k0onMLSsoA358.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}
main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right:auto ;
    height: 98.6vh;
    max-width: 650px;
    padding-top: 70px;
}

#container {
    display:flex;
    flex-direction: column;
    text-align: center; 
    padding-top: 25px;
}
#container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:95px;
    border-radius: 20%;
}
#container h1 {
    margin-top: 10px;
    font-family: Raleway, sans-serif;
<<<<<<< HEAD
    color: aliceblue;
    font-size: 16pt;

=======
    color: rgb(255, 255, 255);
    font-size: 24pt;
    border-color: black;
>>>>>>> 82f208cb6fabda3651d6f7d8e931f1b4e664f5aa
}
#container p{
    margin-top: 10px;
    font-family: Raleway, sans-serif;
    color: aliceblue;
<<<<<<< HEAD
    font-size: 16pt;
=======
    font-size: 14pt;
>>>>>>> 82f208cb6fabda3651d6f7d8e931f1b4e664f5aa
}
.icon {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.ico {
    font-size:30px;
    color: rgb(255, 255, 255);
}
  
#container-links{
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 100%;
    align-items: center;
    align-content: flex-start;
}
#container-links a {
    background-color: #003087;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1 1 150px;
    height: 60px;
    width: 100%;
    margin: 10px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.363);
}
#container-links a:hover {
    background-color: aliceblue;
    color:#003087 ;
    transition: 0.5s;
}


