*{  margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: linear-gradient(to right,#48ADD6,#4BB3C0,#4DB8A8);
}
main {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 98.9vh;
    max-width: 650px;
}

 #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#container >img {
    height:90px ;
}

#container > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: medium;
    padding-top: 10px;
}

#container > p {
    padding-top: 10px;
    color: aliceblue;
}

#icon{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#icon > a {
    display: flex;
    margin-left: 5px;
    margin-right:5px ; 
}

#icon > a > img {
    height: 25px;
}

#container-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    padding-top: 10px;
}

#container-links > a {
    background-color:#003087;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 calc(50% - 30px);
    height: 60px;
    margin: 5px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

#container-links > a:hover {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: #003087;
    transition: 0.5s;
}





