*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to right,#48ADD6,#4BB3C0,#4DB8A8);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 98.9vh;
    max-width: 650px;
    padding-top:10px;
}

#container{
    display:flex;
    flex-direction: column;
    text-align: center; 
}

#container>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:90px;
    border-radius: 20%;
}

#container,h1 {
    margin-top: 10px;
    font-family: Raleway, sans-serif;
    color: aliceblue;
    font-size: medium;
}

#container,p{
    margin-top: 10px;
    font-family: Raleway, sans-serif;
    color: aliceblue; 
}

#container-links{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    text-align: center;
    height: 80vh;
    width: 100%;
    margin: auto;
}

#container-links > a {
    background-color: #003087;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

#container-links > a:hover {
    background-color: aliceblue;
    color:#003087 ;
    transition: 0.5s;
}
