*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to right,#48ADD6,#4BB3C0,#4DB8A8);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: auto;
    margin-right:auto ;
    height: 98.6vh;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 650px;
    padding-top:10px;
}

#container{
    display:flex;
    flex-direction: column;
    text-align: center; 
    padding-top: 25px;
}

#container>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:95px;
    border-radius: 20%;
}

#container,h1 {
    margin-top: 10px;
    font-family: Raleway, sans-serif;
    color: aliceblue;
    font-size: medium;
}

#container,p{
    margin-top: 10px;
    font-family: Raleway, sans-serif;
    color: aliceblue; 
}

.icon {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.icon {
    text-decoration: none;
}

.icon>img {
    height:25px;
    
}

#container-links{
    display: flex;
    flex-direction: column;
    justify-content:start;
    text-align: center;
    height: 50vh;
    width: 100%; 
}

#container-links > a {
    background-color: #003087;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.363);
}

#container-links > a:hover {
    background-color: aliceblue;
    color:#003087 ;
    transition: 0.5s;
}


